@import './base.css';
@import './elementPlus.css';
@import './custom.css';

/* 기본 HTML, Body 스타일 */
html,
body {
  height: 100%;
}

body {
  font-family: var(--el-font-family);
  color: var(--el-text-color-regular);
  background-color: var(--el-bg-color-page); /* 페이지 배경색 적용 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color 0.3s ease,
    color 0.3s case; /* 부드러운 전환 효과 */
}

/* 기본 링크 스타일 조정(필요시) */
a {
  color: var(--el-color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--el-color-primary-light-3); /* 호버 시 약간 더 밝게 */
}
/* element plus 스타일 */
/* Element Plus 컨테이너가 전체 높이를 차지하도록 */
#app {
  min-height: 100vh;
}
